body,
html,
#root,
main {
  height: 100%;
}
.background {
  background-image: url("/images/fondo.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}
.titleHome {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.titleHome h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  margin-top: 200px;
}
.movi {
  display: flex;
  width: 100%;
}
.mAuto {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.contentWeather {
  width: 448.78px;
  height: 278.55px;
  background: rgba(224, 224, 224, 0.5);
  border-radius: 49.0045px;
  padding: 25px;
}
.titleTow {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24.1357px;
  line-height: 29px;
  text-align: center;
  color: #3e3e3e;
  text-shadow: 0px 6.89593px 6.89593px rgba(255, 255, 255, 0.25);
}
.contentBoxOne {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxThree {
  background: rgba(224, 224, 224, 0.5);
  border-radius: 29.3017px;
  padding: 25px;
  width: 143px;
  height: 278px;
  font-size: 25px;
  margin-left: 20px;
  display: grid;
}
.contentBoxOne span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 47px;
  line-height: 154px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 5.28127px 5.28127px rgba(255, 255, 255, 0.25);
}
.contentBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.borderB {
  border-bottom: 2px solid gray;
}
.contentBox img {
  width: 25px;
  height: 25px;
}
.btnChange {
  margin: auto;
  display: flex;
  width: 151.87px;
  height: 34px;
  background: #ffffff;
  box-shadow: 0px 4.53333px 4.53333px rgba(0, 0, 0, 0.25);
  border-radius: 21.5333px;
  color: #4580ba;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
